* {
    padding: 0;
    margin: 0;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    background-color: #000000;
    color: white;
    font-family: "Ubuntu Mono", monospace;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
