.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 1rem;
}

.inputLabel {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.inputField {
    padding: 1rem;
    font-family: "Ubuntu Mono", sans-serif;
    color: white;
    font-size: 1rem;
    border-radius: 15px;
    border: 1px solid rgb(61, 61, 61);
    background: #000000;

    min-width:15rem
}
